*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#06160b;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-box{
    width:340px;
    background:#081a0d;
    padding:30px 20px;
    border-radius:10px;
    text-align:center;
}

.logo{
    width:150px;
    margin-bottom:15px;
}

h2{
    color:#3fd23f;
    font-size:28px;
    margin-bottom:5px;
}

p{
    color:#ccc;
    font-size:14px;
}

.input-box{
    position:relative;
    margin-top:18px;
}

.input-box input{
    width:100%;
    height:45px;
    background:#16251a;
    border:1px solid #333;
    border-radius:6px;
    padding-left:40px;
    color:#fff;
    outline:none;
}

.input-box i{
    position:absolute;
    top:15px;
    left:15px;
    color:#aaa;
}

.eye{
    left:auto!important;
    right:15px;
    cursor:pointer;
}

.forgot{
    display:block;
    color:#39d353;
    text-decoration:none;
    font-size:13px;
    text-align:right;
    margin:12px 0 20px;
}

.login-btn{
    width:100%;
    height:45px;
    border:none;
    background:#2fbf2f;
    color:#fff;
    font-size:17px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

.login-btn:hover{
    background:#28a428;
}

.or{
    color:#999;
    margin:18px 0;
    position:relative;
}

.or::before,
.or::after{
    content:'';
    width:40%;
    height:1px;
    background:#444;
    position:absolute;
    top:50%;
}

.or::before{
    left:0;
}

.or::after{
    right:0;
}

.otp-btn{
    width:100%;
    height:45px;
    background:transparent;
    color:#fff;
    border:1px solid #555;
    border-radius:6px;
    cursor:pointer;
}

.otp-btn i{
    margin-right:8px;
}

.register{
    margin-top:20px;
    color:#aaa;
}

.register a{
    color:#35d435;
    text-decoration:none;
    font-weight:bold;
}
